
body
{
    padding: 1vw;
}
#container
{
    border: px solid;
    padding: 1vw;
    width: 85vw;
    margin: auto;
    display: flex;
}
#infobox
{
    border-right: 1px solid;
    padding: .5vw;
    width: 75%;
    height: fit-content;
    border-bottom-left-radius: 1vw;
    border-top-left-radius: 1vw;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
#locationtagbox
{
    border: 1px solid;
    width: fit-content;
    height: fit-content;
    display: flex;
    grid-gap: .5vw;
}
#locationtag
{
    width: 2vw;
    height: 2vw;
    border: 1px solid;
}
#DeliveryAddress
{
    width: fit-content;
    font-size: 1vw;
    margin: auto;
    padding-right: .5vw;
}
#PersonalAddressBox
{
    margin-top: 4vw;
    border: 1px solid;
    width: 99.5%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgb(236, 220, 252);
    border-radius: 1vw;
}
#infoform
{
    padding: .5vw;
    border: px solid;
    width: 98%;
}
#PersonalDetails
{
    border: px solid;
    width: fit-content;
    font-size: 1.4vw;
    font-weight: bold;
    margin-top: 2vw;
}
#PersonalDetailsBox
{
    border: px solid;
    width: 99.4%;
    margin-top: .5vw;
    display: flex;
    grid-gap: .5vw;
}
#firstname1
{
    border: px solid;
    width: 25%;
}
#lastname1
{
    border: px solid;
    width: 25%;
}
#contact1
{
    border: px solid;
    width: 48%;
}
#first
{
    font-size: 1vw;
    width: fit-content;
    margin-bottom: .2vw;
}
#fname
{
    border: px solid;
    width: 99%;
    height: 2.5vw;
    display: flex;
}
#fname1
{
    width: 96%;
    height: 82%;
}
#last
{
    font-size: 1vw;
    width: fit-content;
    margin-bottom: .2vw;
}
#lname
{
    border: px solid;
    width: 99%;
    height: 2.5vw;
    display: flex;
}
#lname1
{
    width: 96%;
    height: 82%;
}
#number
{
    font-size: 1vw;
    width: fit-content;
    margin-bottom: .2vw;
}
#number1
{
    border: px solid;
    width: 99%;
    height: 2.5vw;
    display: flex;
}
#number2
{
    width: 100%;
    height: 82%;
}
#AddressDetails
{
    border: px solid;
    width: fit-content;
    font-size: 1.4vw;
    font-weight: bold;
    margin-top: .8vw;
}
#AddressDetailsBox
{
    border: px solid;
    width: 99.4%;
    margin-top: .5vw;
    display: flex;
    grid-gap: .5vw;
}
#HouseBox
{
    border: px solid;
    width: 25%;
}
#House
{
    font-size: 1vw;
    width: fit-content;
    margin-bottom: .2vw;
}
#House1
{
    border: px solid;
    width: 99%;
    height: 2.5vw;
    display: flex;
}
#House2
{
    width: 96%;
    height: 82%;
}
#ApartmentBox
{
    border: px solid;
    width: 75%;
}
#Apart
{
    font-size: 1vw;
    width: fit-content;
    margin-bottom: .2vw;
}
#Apart1
{
    border: px solid;
    width: 99%;
    height: 2.5vw;
    display: flex;
}
#Apart2
{
    width: 100%;
    height: 82%;
}
#StreetBox
{
    border: px solid;
    width: 50%;
}
#Street
{
    font-size: 1vw;
    width: fit-content;
    margin-bottom: .2vw;
}
#Street1
{
    border: px solid;
    width: 99%;
    height: 2.5vw;
    display: flex;
}
#Street2
{
    width: 100%;
    height: 82%;
}
#LandMarkBox
{
    border: px solid;
    width: 50%;
}
#LandMark
{
    font-size: 1vw;
    width: fit-content;
    margin-bottom: .2vw;
}
#LandMark1
{
    border: px solid;
    width: 99%;
    height: 2.5vw;
    display: flex;
}
#LandMark2
{
    width: 100%;
    height: 82%;
}
#CityBox
{
    border: px solid;
    width: 25%;
}
#City
{
    font-size: 1vw;
    width: fit-content;
    margin-bottom: .2vw;
}
#City1
{
    border: px solid;
    width: 99%;
    height: 2.5vw;
    display: flex;
}
#City2
{
    width: 96%;
    height: 82%;
}
#AreaBox
{
    border: px solid;
    width: 48%;
}
#Area
{
    font-size: 1vw;
    width: fit-content;
    margin-bottom: .2vw;
}
#Area1
{
    border: px solid;
    width: 99%;
    height: 2.5vw;
    display: flex;
}
#Area2
{
    width: 96%;
    height: 82%;
}
#PincodeBox
{
    border: px solid;
    width: 25%;
}
#Pincode
{
    font-size: 1vw;
    width: fit-content;
    margin-bottom: .2vw;
}
#Pincode1
{
    border: px solid;
    width: 99%;
    height: 2.5vw;
    display: flex;
}
#Pincode2
{
    width: 100%;
    height: 82%;
}
#submit
{
    border-width: .1vw;
    margin-top: .5vw;
    padding-left: .5vw;
    padding-right: .5vw;
    font-size: 1.2vw;
    background-color: rgb(195, 195, 209);
    margin-bottom: 2vw;
}
#voucherbox
{
    border: px solid;
    padding: .5vw;
    width: 25%;
    border-bottom-right-radius: 1vw;
    border-top-right-radius: 1vw;
    border-bottom-left-radius: 1vw;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
#totalpriceBox
{
    border: px solid;
    width: 99%;
    display: flex;
}
#totalprice
{
    border: px solid;
    font-size: 1.5vw;
    padding: .2vw;
    background-color: blue;
    color: white;
}
#totalAmount
{
    border: 1px solid;
    font-size: 1.4vw;
    padding: .2vw;
    padding-left: .6vw;
    padding-right: .6vw;
}
#couponbox
{
    border: px solid;
    margin-top: .5vw;
    width: 99%;
    display: flex;
}
#promobtn
{
    border: px solid;
    display: flex;
    width: 6vw;
}
#applypromo
{
    border: px solid;
}
#applycode
{
    width: 100%;
    font-size: .9vw;
    padding: .5vw;
}
#applycode:hover
{
    border-width: .1vw;
    background-color: slateblue;
    color: white;
}
#inputpromo
{
    border: px solid;
    width: 60%;
    display: flex;
}
#input
{
    width: 100%;
    text-align: center;
    font-size: 1.2vw;
}
#applymasai30
{
    border: px solid;
    margin-top: .5vw;
    width: 99%;
    font-size: 1vw;
    margin-bottom: auto;
}
.SaveAmountBox
{
    border: px solid;
    width: 99%;
    display: flex;
    margin-top: .5vw;
}
.YourSavePrice
{
    border: px solid;
    font-size: 1.5vw;
    padding: .2vw;
    background-color: rgb(188, 230, 38);
    color: rgb(90, 12, 158);
}
.ShowSavePrice
{
    border: 1px solid;
    font-size: 1.4vw;
    padding: .2vw;
    padding-left: .6vw;
    padding-right: .6vw;
}
#GoToPayment
{
    border: 1px solid;
    margin-top: .5vw;
    display: flex;
    width: 99%;
}
#GoToPayment1
{
    width: 100%;
    padding: .5vw;
    font-size: 1.2vw;
}
#totalItemBox
{
    border: px solid;
    width: 99%;
    display: flex;
    margin-top: .5vw;
}
#totalItem
{
    border: px solid;
    font-size: 1.5vw;
    padding: .2vw;
    background-color: rgb(224, 97, 47);
    color: white;
}
#totalItemShow
{
    border: px solid;
    font-size: 1.4vw;
    padding: .2vw;
    padding-left: .6vw;
    padding-right: .6vw;
}
#ProductShowBox
{
    border: px solid;
    margin-top: .5vw;
    width: 99%;
}
.EachProductBox
{
    border: px solid;
    display: flex;
    margin-bottom: .2vw;
}
.ProductImage
{
    border: px solid;
    width: 40%;
}
.ProductImage1
{
    border: 1px solid;
    width: 99%;
    height: 97.5%;
}
#totalItemShow
{
    border: 1px solid;
    font-size: 1.4vw;
    padding: .2vw;
    padding-left: .6vw;
    padding-right: .6vw;
}
.ProductDetails
{
    border: 1px solid;
    width: 60%;
    padding: .2vw;
}
.BrandName
{
    border: px solid;
    width: fit-content;
    font-size: 1vw;
}
.ProductName
{
    border: px solid;
    width: fit-content;
    font-size: 1vw;
    margin-top: .2vw;
}
.ProductMrpPrice
{
    border: px solid;
    width: fit-content;
    font-size: 1vw;
    margin-top: .2vw;
    text-decoration: line-through;
}
.ProductPrice
{
    border: px solid;
    width: fit-content;
    font-size: 1vw;
    margin-top: .2vw;
}