
body
{
    background-color: rgb(255,255,255);
    padding: 10px;
}
/*----------------------Fresh offer banner start--------------------*/
#bannerphoto
{
    border: 1px solid;
    width: 90%;
    height: 70px;
    margin: auto;
    margin-top: 25px;
}
.bannerphoto
{
    width: 100%;
    height: 100%;
}
/*-----------------------Fresh offer banner End----------------------*/

/*-----------------------Container start-----------------------------*/
#container
{
    border: 1px solid green;
    width: 90%;
    padding: 5px;
    margin: auto;
    margin-top: 25px;
    display: flex;
}
/*-----------------------Container End--------------------------------*/

/*----------------------left side box start---------------------------*/
#leftsidebox
{
    border: 1px solid blue;
    padding: 5px;
    width: 26%;
}
/*-----------------------left side box End----------------------------*/
#rightbox
{
    border: 1px solid ;
    padding: 5px;
    width: 74%;
}
/*-----------------fruit-vegitales-heading-container-Start-----------*/
#fruit-vegitales-heading-container
{
    border: 1px solid;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
#heading-container-child
{
    border: 1px solid;
    padding: 5px;
    width: 30%;
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
}
.fruit-vegitales-heading
{
    margin: auto;
    border: 1px solid;
}
/*-------------------fruit-vegitales-heading-container-End----------*/

/*------------sorting-start-----------------*/
#sorting-border/*sorting-border*/
{
    border: 1px solid;
    height: fit-content;
}
/*----------sorting-end----------*/

/*all-product-heading-start*/
#all-product-border
{
    border: 1px solid;
    width: 20%;
    margin-top: 10px;
    display: flex;
    padding: 5px;
}
#all-product-image-border
{
    border: 1px solid;
    width: 20%;
}
#all-product-content-border
{
    border: 1px solid;
    width: fit-content;
    margin: 0px;
    margin-left: 5px;
}
/*all-product-heading-end*/

/*------------------grid-container-start-------------------*/
#gridcontainer
{
    border: 1px solid;
    width: 98.5%;
    padding: 5px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
}
.each-element-container
{
    border: 1px solid;
    padding: 5px;
}
.percentage-box
{
    border: 1px solid;
    padding: 5px;
    display: flex;
    justify-content: right;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.percentage-content-box
{
    margin: 0px;
    font-size: 10px;
    border: 1px solid;
}
.percentage-color
{
    border: 1px dotted;
    width: 10px;
    height: 10px;
    margin-left: 2px;
    border-radius: 50%;
    background-color: rgb(225,86,90);
}
.product-photo
{
    border: 1px solid;
    margin-top: 5px;
    width: 99%;
    height: 120px;
}
.product-image-border
{
    border: 1px solid;
    width: 100%;
    height: 100%;
}
.veg-color-tag
{
    border: 1px solid;
    width: 12px;
    padding: 2px;
    margin-top: 2px;
}
.veg-color-tag-border
{
    border: 1px solid;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(2,145,53);
}
.brand-product-name-border
{
    border: 1px solid;
    margin: 0px;
    margin-top: 5px;
    width: fit-content;
}
.qty-mrp-container
{
    border: 1px solid;
    width: 93.5%;
    margin-top: 5px;
    padding: 5px;
}
.mrp-container
{
    border: 1px solid;
    width: 93.5%;
    margin-top: 0px;
    padding: 5px;
    display: flex;
}
.mrp-border
{
    border: 1px solid;
    margin: 0px;
    font-size: 10px;
    margin-top: 2px;
    margin-bottom: 0px;
}
.strick-price-border
{
    border: 1px solid;
    margin: 0px;
    font-size: 10px;
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 0px;
    text-decoration: line-through;
}
.product-price-border
{
    border: 1px solid;
    margin: 0px;
    font-size: 15px;
    margin-left: 4px;
    margin-bottom: 0px;
}
.standart-delivery-box
{
    border: 1px solid;
    width: 93.5%;
    padding: 5px;
    display: flex;
}
.standart-delivery-cart
{
    border: 1px solid;
    width: 20%;
    height: 20px;
}
.standard-delivery-border
{
    border: 1px solid;
    margin: 0px;
    font-size: 12px;
    margin-left: 2px;
}
.qty-box
{
    border: 1px solid;
    width: 93.5%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.qty-border
{
    border: 1px solid;
    margin: 0px;
    margin-right: 2px;
    margin-top: 5px;
}
.qty-entry-box
{
    border: 1px solid;
    width: 20%;
}
.qty-input-box
{
    width: 80%;
    height: 25px;
    text-align: center;
}
.add-to-cart-box
{
    border: 1px solid;
    width: 50%;
}
.add-to-cart-button
{
    width: 100%;
    height: 31px;
    font-size: 10px;
    font-weight: bold;
}
/*------------------grid-container-end--------------------*/
.all-product-image-border
{
    border: 1px solid;
    width: 100%;
    height: 100%;
}
#sorting-border
{
    padding: 5px;
}
.all-product-heading-image-tag
{
    border : 1px solid;
}
#left-box-category
{
   border-bottom: 2px solid orange;
   width: fit-content;
   font-size: 20px;
}
/*--------------------------Category-Container start------------- */
#left-box-category:hover
{
    font-size: 22px;
}
#category-container
{
    border: .1px solid;
    padding: 5px;
    padding-left: 0px;
    margin-top: 0px;
}
#fruitsvegitables
{
    margin-top: auto;
    margin-bottom: auto;
    width: fit-content;
}
#all-category
{
    border: 1px solid;
    margin-left: 15px;
    padding: 5px;
    padding-left: 0px;
    display: grid;
    grid-gap: 10px;
}
.All-category-link
{
    border: 1px solid;
    text-decoration: none;
}
/*--------------------------Category-Container End----------------------*/

/*---------------------------Brand-Container-start----------------------*/
#Brand-container
{
    border: .1px solid;
    padding: 5px;
    padding-left: 0px;
}
#Each-Brand
{
    border: 1px solid;
    padding: 5px;
    display: grid;
    grid-gap: 5px;
}
/*-----------------------------Brand-Container-Start-----------------------*/
#Price-container
{
    border: .1px solid;
    padding: 5px;
    padding-left: 0px;
}
#Each-Price
{
    border: 1px solid;
    padding: 5px;
    display: grid;
    grid-gap: 5px;
}
/*----------------------------Brand-Container-End--------------------------*/

/*----------------------------Price-Filter-Start---------------------------*/
#Discount-container
{
    border: .1px solid;
    padding: 5px;
    padding-left: 0px;
}
#Each-Discount
{
    border: 1px solid;
    padding: 5px;
    display: grid;
    grid-gap: 5px;
}
/*------------------------------Price-Filter-End---------------------------*/